@*@{
        ViewData["Title"] = "LIST";
    }*@
<style>
    body {

       background: 
linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
linear-gradient(45deg, #ECEDDC 25%, transparent 25%);	
background-size: 100px 100px;
background-color: lightgreen;
    }
</style>



<h1 align="center" style="color:black;"> ABOUT THIS APPLICATION:</h1>
<hr />
<br />


<h2 align="center" style="color:darkgreen;">このウェブサイトは素晴らしいです。
詳細を学ぶために私を呼び出します。</h2>
<h3 align="center" style="color:darkgreen;">
    (This website is awesome.
    Call me in order to learn more)
</h3>
@*<img src="~/Uploads/sample.jpg" />*@
