@*@{
        ViewData["Title"] = "Contact";
    }*@
<h1 align="center" style="color:midnightblue;"> CONTACT INFORMATION:</h1>
<style>
    body{
        background-color:lightgreen;
background-image: radial-gradient(white 15%, transparent 16%),
radial-gradient(white 15%, transparent 16%);
background-size:60px 60px;
background-position: 0 0, 30px 30px;

    }





</style>
<address align="center">
    Uchiha Manor<br />
    Konoha<br />
    Japan<br />
    <abbr title="Phone">P:</abbr>
    98800 80098
</address>

<address align="center">
    <strong>Support:</strong> <a href="mailto:naruto@uzumaki.com">naruto@uzumaki.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:susuke@uchiha.com">susuke@uchiha.com</a>
</address>
